@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:wght@400&display=swap');

html, body {
  height: 100%; 
  margin: 0; 
}

html {
  background-color: #67c672;
  background-image: url('images/vegetables.jpg');
  background-size: cover;
  background-position: center; 
  background-size: 150%;
}

#root {
  flex: 1; 
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.quicksand-medium {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500; 
}

.App {
  text-align: center;
  font-family: "Arial", sans-serif;
  width: 80%;
  margin: auto;
}

.App h1 {
  font-family: 'Quicksand', sans-serif;
  color: #333;

}

.welcome-section {
  font-size: 1.3em;
  font-weight: bolder;
  color:#206f1f;
  text-align: center;
}

.welcome-section h1{

  margin-top: 150px;
  font-family: 'Quicksand', sans-serif;
}

.welcome-section h2{

  font-family: 'Quicksand', sans-serif;
}

.main-content {
  background-color: rgba(136, 199, 140, 0.726);
  padding: 20px;
  border-radius: 8px;
  width: 1000px;
  margin: 20px auto;
}

.SearchBar {
  position: relative;
  margin: 20px auto 0;
  width: 50%;
}

.SearchBar input {
  padding: 15px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}

.SearchBar button {
  padding: 15px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: all ease 0.3s;
}

.SearchBar button:hover {
  border: 1px solid #1a73e8;
  background: #1f24b7;
  color: #ffffff;
}

.SearchHistory {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.SearchHistory ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 50%;
  display: flex;
}

.SearchHistory li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eee;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  margin-left: 5px;
}

.SearchHistory button {
  background-color: red; 
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 2px 5px;
  border-radius: 5px;
  transition: all ease 0.3s;
}

.SearchHistory button:hover {
  background-color: darkred;
}

.foodItemName {
  font-family: 'Quicksand', sans-serif;
  color:#206f1f;
}


.NutritionInfo {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px auto 0;
  border-radius: 20px;
  box-shadow: 1px -1px 15px 1px rgba(0, 0, 0, 0.05);
  width: 50%;
  text-align: center;
}

.NutritionInfo h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 50px;
}

.NutritionInfo p {
  color: #666;
  line-height: 1.5;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
}
.NutritionInfo .label {
  width: 50%;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #222;
  text-align: left;
}
.NutritionInfo .value {
  width: 50%;
  text-align: right;
  display: inline-block;
  font-size: 14px;
}
.NutritionInfo .value em {
  font-style: initial;
  font-size: 13px;
}

.ErrorMessage {
  color: red;
  margin: 10px 0;
}
footer {
  margin: 60px auto 0;
  padding: 40px 40px 40px;
  background: #6ab455;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  
}