.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  width: 80%; 
  margin: auto;
}

.App h1 {
  color: #333;
}

.SearchBar {
  margin: 20px 0;
}

.SearchBar input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 40%;
}

.SearchBar button {
  padding: 10px 15px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.SearchBar button:hover {
  background-color: #0f62a5;
}

.SearchHistory {
  margin: 20px 0;
}

.SearchHistory ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 50%;
}

.SearchHistory li {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.SearchHistory button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto; 
}

.SearchHistory button:hover {
  background-color: darkred;
}


.NutritionInfo {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.NutritionInfo h3 {
  color: #333;
}

.NutritionInfo p {
  color: #666;
  line-height: 1.5;
}

.ErrorMessage {
  color: red;
  margin: 10px 0;
}
