@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:wght@400&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%; 
  margin: 0; 
}

html {
  background-color: #ffffff;
  background-image: url('images/Flipsnack.jpeg');
  background-size: auto;
  background-repeat: repeat;

}

header {
  align-items: center;
  justify-content: center;
  width: 100%;
}

#root {
  flex: 1; 
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.quicksand-medium {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500; 
}

.App {
  text-align: center;
  font-family: "Arial", sans-serif;
  width: 80%;
  margin: auto;
  margin-top: 60px;
}

.App h1 {
  font-family: 'Quicksand', sans-serif;
  color: #333;

}

.welcome-section {
  font-size: 1.3em;
  font-weight: bolder;
  color:#0d510c;
  text-align: center;
  margin-top: 190px;
  align-items: center;
}

.welcome-section h1{

  margin-top: 150px;
  font-family: 'Quicksand', sans-serif;
}

.welcome-section h2{

  font-family: 'Quicksand', sans-serif;
}

.main-content {
  background-color: rgba(95, 193, 102, 0.796);
  width: 100%;
  padding: 40px;
  border-radius: 8px;
  margin-bottom: 40px;
}

/* search bar */
.search-and-button {
  display: flex;
  align-items: center;
  margin: 20px auto 0;
  width: 100%;
  
}

.SearchBar {
  position: relative;
  flex-grow: 1;
}

.SearchBar input {
  padding: 13px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}

.SearchBar button {
  padding: 15px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: all ease 0.3s;
}

.SearchBar button:hover {
  border: 1px solid #1a73e8;
  background: #1f24b7;
  color: #ffffff;
}

/* random food */
.random-food-button {
  margin-left: 10px;
  padding: 15px;
  background-color: #10ae32;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.random-food-button:hover {
  background-color: #09450b;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}

.SearchHistory {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}


.SearchHistory ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: auto;
  gap: 10px;
  width: 100%;
}



.SearchHistory li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eee;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  margin-left: 5px;
}

.SearchHistory button {
  background-color: red; 
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 2px 5px;
  border-radius: 5px;
  transition: all ease 0.3s;
}

.SearchHistory button:hover {
  background-color: darkred;
}

.api-explanation {
  font-weight: bold;
  color: #000000;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
}

.foodItemName {
  font-family: 'Quicksand', sans-serif;
  color:#206f1f;
}


.NutritionInfo {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px auto 0;
  border-radius: 20px;
  box-shadow: 1px -1px 15px 1px rgba(0, 0, 0, 0.05);
  width: 50%;
  text-align: center;
}

.NutritionInfo h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 50px;
}

.NutritionInfo p {
  color: #666;
  line-height: 1.5;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
}
.NutritionInfo .label {
  width: 50%;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #222;
  text-align: left;
}
.NutritionInfo .value {
  width: 50%;
  text-align: right;
  display: inline-block;
  font-size: 14px;
}
.NutritionInfo .value em {
  font-style: initial;
  font-size: 13px;
}

.ErrorMessage {
  color: red;
  margin: 10px 0;
}

footer {
  align-items: center;
  background: #6ab455;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding: 20px;
  
}


@media (max-width: 860px) {
  .search-and-button,
  .SearchHistory ul,
  .SearchBar,
  .NutritionInfo {
    width: 100%;
  }
  .main-content{
    border-radius: 8px;
    padding: 25px;
  }

  .random-food-button{
    margin-left: 10px;
    padding: 8px;
    font-size: 12px;
  }
  .search-and-button{
    padding: 8px;
    font-size: 12px;
  }
  .search-wrapper {
    width: 100%;
  }

  .NutritionInfo h3 {
    font-size: 18px;
  }

  .welcome-section {
    font-size: 1.0em;
  }

  .api-explanation {
    font-size: 15px;
    width: 100%;
  }
  
}

@media (max-width: 480px) {
  .SearchHistory ul,
  .SearchBar,
  .NutritionInfo {
    width: 95%;
  }
  .main-content{
    padding: 20px;
    border-radius: 8px;
    }
  }

  



 
